alabaster==0.7.12; python_version >= "3.6"
applaunchservices==0.2.1; platform_system == "Darwin" and python_version >= "3.6"
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7" and platform_system == "Darwin"
arrow==1.2.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
astroid==2.9.3; python_full_version >= "3.6.2" and python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
autopep8==1.6.0; python_version >= "3.6"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
bcrypt==3.2.0; platform_system == "Windows" and python_version >= "3.6"
beautifulsoup4==4.10.0; python_full_version > "3.0.0"
binaryornot==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
black==22.1.0; python_full_version >= "3.6.2"
bleach==4.1.0; python_version >= "3.7"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.6" and platform_system == "Windows"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.11; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.3; python_version >= "3.6"
cloudpickle==2.0.0; python_version >= "3.6"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.6.2" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0")
cookiecutter==1.7.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cryptography==36.0.1; platform_system == "Windows" and python_version >= "3.7" and sys_platform == "linux"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.1; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
diff-match-patch==20200713; python_version >= "3.6"
docutils==0.17.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
entrypoints==0.4; python_full_version >= "3.6.1" and python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
html5lib==1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
imagesize==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
importlib-metadata==4.10.1; python_version < "3.10" and python_version >= "3.7"
inflection==0.5.1; python_version >= "3.6"
intervaltree==3.1.0; python_version >= "3.6"
ipykernel==6.8.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.31.1; python_version >= "3.7"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
jedi==0.18.1; python_version >= "3.7"
jeepney==0.7.1; sys_platform == "linux" and python_version >= "3.7"
jellyfish==0.9.0; python_version > "3.6"
jinja2-time==0.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
joblib==1.1.0; python_version >= "3.7"
jsonschema==4.4.0; python_version >= "3.7"
jupyter-client==7.1.2; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-core==4.9.1; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyterlab-pygments==0.1.2; python_version >= "3.7"
keyring==23.5.0; python_version >= "3.7"
lazy-object-proxy==1.7.1; python_full_version >= "3.6.2" and python_version >= "3.6"
lxml==4.7.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
markupsafe==2.0.1; python_version >= "3.6"
matplotlib-inline==0.1.3; python_version >= "3.7"
mccabe==0.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
mistune==0.8.4; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mysql-connector-python==8.0.28
nbclient==0.5.10; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.4.1; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.4; python_full_version >= "3.7.0" and python_version >= "3.7"
numpy==1.22.2; python_version >= "3.8"
numpydoc==1.2; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
pandas==1.4.0; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
paramiko==2.9.2; platform_system == "Windows" and python_version >= "3.6"
parso==0.8.3; python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2" and python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
platformdirs==2.4.1; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6"
poyo==0.5.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
prompt-toolkit==3.0.26; python_full_version >= "3.6.2" and python_version >= "3.7"
protobuf==3.19.4; python_version >= "3.5"
psutil==5.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
ptyprocess==0.7.0; python_version >= "3.6"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.5.0"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pydocstyle==6.1.1; python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygments==2.11.2; python_version >= "3.7"
pylint==2.12.2; python_full_version >= "3.6.2" and python_version >= "3.6"
pyls-spyder==0.4.0; python_version >= "3.6"
pynacl==1.5.0; platform_system == "Windows" and python_version >= "3.6"
pyobjc-core==8.2
pyobjc-framework-accessibility==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-accounts==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-addressbook==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-adservices==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-adsupport==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "18.0"
pyobjc-framework-applescriptkit==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-applescriptobjc==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-applicationservices==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-apptrackingtransparency==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-audiovideobridging==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-authenticationservices==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-automaticassessmentconfiguration==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-automator==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-avfoundation==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "16.0"
pyobjc-framework-avkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-businesschat==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "18.0"
pyobjc-framework-calendarstore==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-callkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-cfnetwork==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-classkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-cloudkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-cocoa==8.2
pyobjc-framework-collaboration==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-colorsync==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-contacts==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-contactsui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-coreaudio==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "11.0"
pyobjc-framework-coreaudiokit==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-corebluetooth==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-coredata==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-corehaptics==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-corelocation==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-coremedia==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-coremediaio==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "11.0"
pyobjc-framework-coremidi==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-coreml==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-coremotion==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-coreservices==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-corespotlight==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-coretext==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-corewlan==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-cryptotokenkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-datadetection==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-devicecheck==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-dictionaryservices==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-discrecording==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-discrecordingui==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-diskarbitration==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-dvdplayback==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-eventkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-exceptionhandling==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-executionpolicy==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-externalaccessory==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-fileprovider==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-fileproviderui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-findersync==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-fsevents==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-gamecenter==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-gamecontroller==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-gamekit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-gameplaykit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-imagecapturecore==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-imserviceplugin==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "11.0"
pyobjc-framework-inputmethodkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-installerplugins==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-instantmessage==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-intents==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-intentsui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-iosurface==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-ituneslibrary==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-kernelmanagement==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-latentsemanticmapping==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-launchservices==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-libdispatch==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-linkpresentation==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-localauthentication==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-localauthenticationembeddedui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-mailkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-mapkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-mediaaccessibility==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-medialibrary==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-mediaplayer==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "16.0"
pyobjc-framework-mediatoolbox==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "13.0"
pyobjc-framework-message==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release < "13.0"
pyobjc-framework-metal==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-metalkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-metalperformanceshaders==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-metalperformanceshadersgraph==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-metrickit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-mlcompute==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-modelio==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-multipeerconnectivity==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-naturallanguage==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "18.0"
pyobjc-framework-netfs==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-network==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "18.0"
pyobjc-framework-networkextension==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-notificationcenter==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-opendirectory==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-osakit==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-oslog==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-passkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-pencilkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-photos==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-photosui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-preferencepanes==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-pubsub==8.2; platform_release >= "9.0" and platform_release < "18.0" and platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-pushkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-quartz==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-quicklookthumbnailing==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-replaykit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-safariservices==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-scenekit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "11.0"
pyobjc-framework-screensaver==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-screentime==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-scriptingbridge==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "9.0"
pyobjc-framework-searchkit==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-security==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "14.0"
pyobjc-framework-securityfoundation==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-securityinterface==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-servernotification==8.2; platform_release >= "10.0" and platform_release < "13.0" and platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-servicemanagement==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "10.0"
pyobjc-framework-shazamkit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "21.0"
pyobjc-framework-social==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-soundanalysis==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-speech==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-spritekit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "15.0"
pyobjc-framework-storekit==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "11.0"
pyobjc-framework-syncservices==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-systemconfiguration==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc-framework-systemextensions==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "19.0"
pyobjc-framework-uniformtypeidentifiers==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-usernotifications==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-usernotificationsui==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-videosubscriberaccount==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "18.0"
pyobjc-framework-videotoolbox==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "12.0"
pyobjc-framework-virtualization==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "20.0"
pyobjc-framework-vision==8.2; platform_system == "Darwin" and python_version >= "3.6" and platform_release >= "17.0"
pyobjc-framework-webkit==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyobjc==8.2; platform_system == "Darwin" and python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pyqt5-sip==12.9.1; python_version >= "3.6"
pyqt5==5.12.3; python_version >= "3.6"
pyqtwebengine==5.12.1; python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.6.1" and python_version >= "3.8" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
python-lsp-black==1.1.0; python_version >= "3.6"
python-lsp-jsonrpc==1.0.0; python_version >= "3.6"
python-lsp-server==1.3.3; python_version >= "3.6"
python-slugify==5.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pytz==2021.3; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.7"
pywin32==303; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
pyxdg==0.27; platform_system == "Linux" and python_version >= "3.6"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.6"
qdarkstyle==3.0.2; python_version >= "3.6"
qstylizer==0.2.1; python_version >= "3.6"
qtawesome==1.1.1; python_version >= "3.6"
qtconsole==5.2.2; python_version >= "3.6"
qtpy==2.0.1; python_version >= "3.6"
requests==2.27.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
rope==0.22.0; python_version >= "3.6"
rtree==0.9.7; python_version >= "3.6"
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
secretstorage==3.3.1; sys_platform == "linux" and python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.8" and platform_system == "Windows"
snowballstemmer==2.2.0; python_version >= "3.6"
sortedcontainers==2.4.0; python_version >= "3.6"
soupsieve==2.3.1; python_version >= "3.6" and python_full_version > "3.0.0"
sphinx==4.4.0; python_version >= "3.6"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6"
spyder-kernels==2.2.1; python_version >= "3.6"
spyder==5.2.2; python_version >= "3.6"
testpath==0.5.0; python_version >= "3.7"
text-unidecode==1.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
textdistance==4.2.2; python_version >= "3.6"
threadpoolctl==3.1.0; python_version >= "3.7"
three-merge==0.1.1; python_version >= "3.6"
tinycss2==1.1.1; python_version >= "3.6"
toml==0.10.2; python_full_version >= "3.6.2" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
tomli==2.0.0; python_version >= "3.7" and python_full_version >= "3.6.2"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
traitlets==5.1.1; python_full_version >= "3.7.0" and python_version >= "3.7"
typing-extensions==4.0.1; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.6"
ujson==5.1.0; python_version >= "3.7"
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
watchdog==2.1.6; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
wrapt==1.13.3; python_full_version >= "3.6.2" and python_version >= "3.6"
wurlitzer==3.0.2; platform_system != "Windows" and python_version >= "3.6"
yapf==0.32.0; python_version >= "3.6"
zipp==3.7.0; python_version < "3.10" and python_version >= "3.7"
